
@charset "utf-8";
@import "reset";


$pc: 1100px; // PC
$pc-sub: 1300px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin pc-sub {
    @media (max-width: ($pc-sub)) {
      @content;
    }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

  
@mixin font-type {
  font-family: 'Red Hat Display', sans-serif;
}

html{


body{
  font-family: 'Noto Sans JP', sans-serif;

@import 'parts/header.scss';


.mainvisual{
    height: 57.5vw;

    @include pc{
        height: 73vw;
    }


    @include pc{
      height: 73vw;
  }

  @include sp{
    margin-bottom: 45px;
    height: auto;
  }

  
  .mainvisual_wrap_sp{
    display: none;
    position: relative;
    @include sp{
      display: block;
    }
    

  .mainvisual_img_sp{
      background-image: url(../img/front/mainvisual.png);
      background-size: 100% 400px;
      width: 100%;
      height: 400px;
      position: relative;
}/*img*/





    .mainvisual_text{
      width: 400px;
      margin:  0 auto;
      margin-top: 40px;

      @include sp-second{
        width: 93%;
      }

      h1{
          font-size: 38px;
          margin-bottom: 10px;


          .blue_text{
              color: #2C75FF;
          }

      }/*h1*/

      .mainvisual_sub_text{
          margin-bottom: 54px;
          font-size: 14px;
          line-height: 1.6;
          color: #364E60;

          @include sp-second(){
            margin-bottom: 37px;
          }

      }


      .btn{
          width: 334px;

          @include sp-second(){
            width: 90%;
            margin: 0 auto;
          }

          a{
              display: block;
              text-align: center;
              font-size: 16px;
              padding: 22px 0px;
              color: white;
              background: linear-gradient(to right, #FF2E47, #FFAD88);
              border-radius: 38px;  
              @include font-type();
              font-weight: bold;
              letter-spacing: 0.4px;
              
          
          }

          a:hover{
              opacity: 0.7;
              transition: 0.6s;  
          }
      }
    }/*text*/



  }


  &-wrap{
    display: flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    
    @include sp{
      display: block;
      display: none;
    }

      .mainvisual_text{
        width: 50%;
        padding: 15vw 0px 0px 12.5vw;

        @include pc{
            padding: 25vw 0px 0px 8vw;
        }


        h1{
            font-size: 4.6vw;
            margin-bottom: 23px;
            line-height: 1.19;

            @include pc{
                font-size: 4vw;
            }

    
    

            .blue_text{
                color: #2C75FF;
            }

        }/*h1*/

        .mainvisual_sub_text{
            margin-bottom: 54px;
            @include pc{
                margin-bottom: 40px;
            }

            @include tab{
                font-size: 14px;
                margin-bottom: 25px;
            }

        }


        .btn{
            width: 334px;

            @include pc{
                width: 300px;
            }

            @include pc{
                width: 240px;
            }

            a{
                display: block;
                text-align: center;
                font-size: 16px;
                padding: 25px 0px;
                color: white;
                background: linear-gradient(to right, #FF2E47, #FFAD88);
                border-radius: 38px;  
                @include font-type;  
                letter-spacing: 0.4px;
                font-weight: bold;  

                
                @include pc{
                    padding: 20px 0px;
                }

                @include tab{
                    padding: 15px 0px;
                }
                
            }

            a:hover{
                opacity: 0.7;
                transition: 0.6s;  
            }
        }


      }/*text*/

      .mainvisual_img{
          background-image: url(../img/front/mainvisual.png);
          background-size: 100% 57.5vw;
          width: 50%;
          height: 57.5vw;

          @include pc{
            background-size: 100% 73vw;
            height: 73vw;
        }

      }/*img*/

  }/*&-wrap*/
}


.middle_card{
    background-color: #2C75FF;
    height: 400px;
    position: relative;

    .card_block{
        width: 890px;
        height: 400px;
        background-color: #FFFFFF;
        padding: 90px 78px 0px ;
        border-radius: 11px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
        position: relative;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        @include pc{
            width: 700px;
            padding: 90px 48px 0px ;
        }

        @include tab{
            width: 90%;
            padding: 55px 35px 0px ;
        }

        @include sp{
          height: 470px;
        }


        @include sp-second(){
          height: 500px;
          padding: 50px 26px 0px ;
        }
    
    
        .middle_card_title{
            color: #364E60;
            font-size: 40px;
            text-align: center;
            margin-bottom: 54px;

            @include tab{
                font-size: 5vw;
                margin-bottom: 45px;
            }

            @include sp-second(){
              font-size: 25px;
              margin-bottom: 40px;
          }

            .blue_text{
                color: #2C75FF;
                @include tab{
                    display: block;    
                }
            }
        }

        .middle_card_text{
            font-size: 16px;
            line-height: 1.9;
            color: #364E60;

            @include sp-second(){
              font-size: 14px;
            }
        }

        .middle_card_background{
            font-size: 150px;
            @include font-type;
            color: #364E60;
            font-weight: bold;
            opacity: 0.06;
            z-index: 1;
            left: 80px;
            top: 20px;
            position: absolute;

            @include pc{
                font-size: 130px;
                left: 20px;
            }

            @include tab{
                font-size: 16vw;
                left: 4%;
            }

            @include sp{
              left:5%;
              top: 30px;
            }
        
        }


    }/*block*/
}




.service{
    padding-top: 256px;
    padding-bottom: 129px;
    background-color: #F7FAFF;

    &_wrap{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1100px;
        width: 100%;

        @include pc-sub{
            justify-content:space-around;
            padding-right: 20px;
            padding-left: 20px;
        }

        @include tab{
            display: none;
        }


        .service_block{
            width: 367px;

            .about{
                color: #364E60;
                font-size: 16px;
            }

            .service_en{
                font-size: 44px;
                color: #2C75FF;
                margin-bottom: 35px;
                align-items: center;
                display: flex;
                @include font-type();
                letter-spacing: 0.11px;
            }

            .service_en::after{
              border-top: 1px solid #2C75FF ;
              content: "";
              flex-grow: 0.5;
              margin-left: 23px;
            }

            .about_text{
                color: #364E60;
                font-size: 16px;
                line-height: 2.25;
                margin-bottom: 40px;
            }

            .btn{
                width: 185px;

                a{
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    padding: 18px 0px 14px;
                    color: white;
                    background: linear-gradient(to right, #FF2E47, #FFAD88);
                    border-radius: 30px;     
                    font-weight: bold;
                    @include font-type;  
                    font-weight: bold;  
        
                }
            }

            .btn:hover{
              transition: .3s;
              opacity: .8;
            }

        }/*block*/

        .image_item{
            width: 636px;

            @include pc-sub(){
                width: 51vw;
            }

            ul{
                flex-wrap: wrap;
                justify-content: space-between;
                display: flex;

                @include pc{
                    justify-content: center;
                }


                li{
                    list-style: none;
                    margin-bottom: 35px;
                    text-align: center;

                    @include pc{
                        margin-right: 6px;
                        margin-left: 6px;
                    }

                    img{

                        @include pc-sub(){
                            width: 11.8vw;
                        }

                    }/*img*/

                    .item_text{
                        display: block;
                        font-size: 14px;
                        margin-top: 13px;
                        color: #2C75FF;
                        font-weight: 500;
                    }/*item_text*/

                }/*li*/
            }/*ul*/
        }

    }/*wrap*/

    .service_wrap_sp{
            display: none;
            width: 90%;
            margin: 0 auto;

            @include tab{
                display: block;
            }

            .about{
                color: #364E60;
                font-size: 16px;
                @include sp{
                    font-size: 13px;
                }
            }

            .service_en{
                font-size: 44px;
                color: #2C75FF;
                margin-bottom: 35px;
                display: flex;  /* 横並びにする */
                align-items: center;
                @include font-type;
                letter-spacing: 0.95px;

                @include sp{
                    font-size: 38px;
                }
            }

            .service_en::after{
              border-top: 2px solid #2C75FF ;
              content: "";
              flex-grow: 0.2;
              margin-left: 13px;
            }


        .image_item_sp{
            justify-content: center;
            margin-bottom: 20px;
            
            ul{
                display: flex;
                text-align: center;
                justify-content: center;

                li{
                    list-style: none;
                    margin-left: 20px;
                    margin-right: 20px;

                    @include sp{
                        margin-left: 10px;
                        margin-right: 10px;    
                    }

                    img{

                        @include tab(){
                            width: 120px;
                        }

                        @include sp(){
                            width: 20vw;
                        }

                        @include sp-second{
                            width: 25vw;
                        }

                    }/*img*/

                    .item_text{
                        display: block;
                        color: #2C75FF;


                        @include sp{
                            font-size: 11px;
                        }
                    }/*item_text*/

                }/*li*/
            }/*ul*/
        }


        .about_text{
            color: #364E60;
            font-size: 16px;
            line-height: 2.25;
            margin: 0 auto;
            max-width: 600px;
            margin-top: 50px;
            margin-bottom: 40px;

            @include sp{
                font-size: 14px;
                margin-top: 30px;
            }

        }

        .btn{
            width: 385px;
            margin: 0 auto;

            @include sp-second(){
                width: 99%;
            }

            a{
                display: block;
                text-align: center;
                font-size: 16px;
                padding: 20px 0px 20px;
                color: white;
                background: linear-gradient(to right, #FF2E47, #FFAD88);
                border-radius: 30px;  
                letter-spacing: 0.4px;   
                @include font-type;  
                font-weight: bold;  
            }
        }
    }/*wrap_sp*/

}/*service*/




.topic{
  padding-top: 125px;

  @include sp(){
      padding-top: 66px;
  }


  &_wrap{
      width: 1088px;
      margin: 0 auto;
      padding-bottom: 130px;

      @include pc{
          width: 90%;
      }

      @include sp(){
          padding-bottom: 70px;
      }


      .about{
          color: #364E60;
          font-size: 16px;

          @include sp{
              font-size: 13px;
          }
      }

      .service_en{
          font-size: 44px;
          color: #2C75FF;
          margin-bottom: 35px;
          display: flex;
          align-items: center;
          letter-spacing: 0.11px;

          @include sp{
              font-size: 38px;
          }
      }

      .service_en::after{
        border-top: 1px solid #2C75FF ;
        content: "";
        flex-grow: 0.1;
        margin-left: 13px;
        @include sp{
          flex-grow: 0.2;
        }
      }

      .article_wrap{
          margin-bottom: 55.5px;
          
          @include sp(){
              margin-bottom: 45px;
          }

          .article{
              display: flex;
              width: 992px;
              border-bottom: 1px solid #DBDBDB;
              padding: 29.5px 0px;
              margin: 0 auto;

              @include pc{
                  width: 90%;
              }

              @include tab{
                  width: 100%;
              }

              @include sp{
                  padding: 21px 0px 21px;
              }




              a{
                  display: flex;

                  @include tab{
                      display: block;
                  }

              .date{
                  color: #364E60;
                  margin-left: 20px;
                  margin-right: 41px;
                  font-size: 18px;
                  opacity: 0.65;

                  @include tab{
                      margin-left: 0px;
                      margin-bottom: 11px;
                  }

                  @include sp{
                      font-size: 14px;
                  }

              }
              .article_text{
                  font-size: 16px;
                  color: #364E60;

                  @include sp{
                      font-size: 14px;
                  }

              }

          }/*a*/
          }/*articlewrap*/

          .article:first-child{
              border-top: 1px solid #DBDBDB;
          }

      }


      .btn{
          width: 185px;
          margin: 0 0 0 auto;

          @include tab{
              width: 250px;
          }

          @include sp{
              margin: 0 auto;
              width: 99%;
          }

          a{
              display: block;
              text-align: center;
              font-size: 16px;
              padding: 18px 0px 14px;
              color: white;
              background: linear-gradient(to right, #FF2E47, #FFAD88);
              border-radius: 30px;  
              font-weight: bold; 
              @include font-type;
              
              @include sp{
                  padding: 20px 0px;
              }

          }
      }

  }/*wrap*/
}/*topic*/







.button-wrap{
  background-image: url(../img/common/contact_mainvisual.png);
  background-size: 100% 510px;
  height: 510px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include sp{
    background-image: url(../img/common/contact_sp.png);
    height: 433px;
  }

  .block{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    

  .letter-block{
    color: white;
    text-align: center;
    padding-top: 102px;
    margin-bottom: 42px;

    @include sp{
      padding-top: 62px;
      margin-bottom: 30px;
    }

    .sub-letter{
      font-size: 16px;
      font-weight: bold;

    @include sp{
      font-size: 13px;
    }

    }/*sub*/

    .contact-letter{
      @include font-type();
      font-size: 52px;
      font-weight: bold;
      margin-bottom: 25px;


    @include sp{
      font-size: 33px;
      margin-bottom: 22px;
    }


    }/*letter*/

    .sub-sentence{
      font-size: 18px;

      @include sp{
        font-size: 15px;
      }

      
    }/*sub-sentence*/

  }/*letter-block*/



  .button_block{
    display: flex;
    width: 992px;
    margin: 0 auto;
    height: 133px;
    margin-top: 42px;

    @include pc{
      width: 750px;
    }

    @include tab{
      width: 94%;
      height: 100px;
    }

    @include sp{
      display: block;
    }

    #button{  
    }

    .left_button{
      width: 100%;

      @include sp{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 9px;
      }
  

      a{  
        @include font-type();
        font-size: 37px;
        display: block;
        background-color: rgb(255, 255, 255);
        text-align: center;
        height: 133px;
        padding-top: 30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        @include pc{
        font-size: 32px;
        }

        @include tab{
          height: 100px;
          padding-top: 20px;
          font-size: 28px;
        }

        @include sp{
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;  
          font-size: 25px;
          padding: 10px 0px 14px 0px;
          height: 80px;
        }
      
    
  


        img{
          margin-right: 10px;
          @include tab{
            margin-right: 7px;
            width: 18px;
          }

          @include sp{
            width: 16px;
          }


        }/*img*/

          .time{
            display: block;
            font-size: 15px;

            @include sp{
              font-size: 14px;
            }

          }/*span*/


      }/*a*/  

      a:hover{
        transition: .8s;
        opacity: 0.8;
      }
  
    }

    .right_button{
      width: 100%;

    a{  
      display: block;
      text-align: center;
      font-size: 22px;
      padding: 50px 0px;
      color: white;
      height: 133px;
      background: linear-gradient(to right, #FF2E47, #FFAD88);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: 900;

      @include tab{
        height: 100px;
        padding: 35px 0px;
      }

      @include sp{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
        padding: 24px 0px;
        height: 72px;
      }
    
    }/*a*/

    a:hover{
      transition: .8s;
      opacity: 0.8;
    }


    }
  }/*button_block*/
}
}/*wrap*/


.button-wrap::before{
height: 510px;
width: 100%;
z-index: 0;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
background-color: rgba(54,78,96,0.45);

}


@import 'parts/footer.scss';


}/*body*/
}
